language: php

sudo: false

cache:
  directories:
    - $HOME/.composer/cache/files

php:
  - 8.1
  - 8.2
  - 8.3
  - 8.4
  - 8.5

before_install:
  - composer self-update
  - if [ "$DEPENDENCIES" = "dev" ]; then perl -pi -e 's/^}$/,"minimum-stability":"dev"}/' composer.json; fi;

install:
  - composer update $COMPOSER_FLAGS

script:
  - ./vendor/bin/phpcs -n
  - phpunit
